.DS_Store
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/._*

# Office/temporary files
~$*.docx
~$*.pptx
~$*.xlsx

# macOS metadata
.AppleDesktop
Network Trash Folder
Temporary Items
.Trashes
fmri-data/
__pycache__/
**/__pycache__/
